<!DOCTYPE html>

<head>
	<title> BookHouse </title>
  <link id="favicon" rel="icon" href="https://cdn.glitch.com/30fa63ee-79f7-42c9-992a-f7f5bdcabbf4%2Fthumbnails%2Ficon.png?1511284247590" type="image/x-icon">  
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
	<meta name="description" content="Rob's Portfolio Page">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  	<link  rel="stylesheet" href="/style.css" >
	</head>
	<nav>
		<a href = "/"><span class = "credButs2 menuButs">
			BookHouse
		</span></a>
		<span onclick = 'showSettings()' class = "credButs menuButs">
			Settings
		</span>
		<a href = "/logout"><span onclick = 'register()' class = "credButs menuButs">
			Logout
      </span></a>
	</nav>
	<body>
          <!-- Settings Popup -->
        <div id = "settings">
          <center>
          <h2 style = "margin-left: 2%">
            Settings
          </h2>
          <form method = "POST" action = "/settings">
            <h4>
              Full Name:
            </h4>
            <input name= "fullname">
            <h4>
              Address:
            </h4>
            <input name= "address">
            <h4>
              City/State:
            </h4>
            <input name= "citystate"><br><br>
             <button class = "loginButton" type = "submit">
               Submit
            </button>
            <button onclick = "cancelSettings()" class = "loginButton" type = "button">
               Cancel
            </button>
          </form>
            
            </center>
    </div>
		      <!--- My Books Popup -->
        <div id = "myBooks">
          <span onclick = 'out()' class="glyphicon glyphicon-remove exit"> </span>
         
          <h4 style = "margin-left: 2%">
            My Books
            </h4>
           <center>
             <form method = "POST" action = "/addBook">
            <button type = "submit">
              <!-- Add Icon with Button-->
              Add Book
            </button>
             <input name = "newBook">
             </form>
            <ul>
               <% books.forEach((x)=>{
                %><span>  <div>
              <img src = <%= x["picture"] %>> <br> <%= x.title %> </div></span> <%
              }) %>
            </ul>
           
          </center>
        </div>
		<div id = "dashMain">
      <span class = "welcomeUser">
       <%= name %>
      </span><br/>
      <a href = "/inbox"><span class = "viewTrades">
        <!-- View Trades Link will Have both incoming and outgoing Trade Requests on Seperate Page
            or JavaScript will update this page. -->
      View Trades
        </span></a>
      <span onclick = "showMyBooks()" class = "myBooks">
      My Books
      </span>
      <center>
  
      <div id = "bookDisplay"> 
        
          
       <% allBooks.forEach((x,i)=>{ %>
          <form id = <%= i %> class ="submitTrade" method = "POST" action = "/trade">
          <input type = "hidden" name = "user" value = "<%= x.user %>">
            <input type = "hidden" name = "title" value = "<%= x.title %>">
            <input type = "hidden" name = "picture" value = "<%= x.picture %>">
          <img onclick = "trade(<%= i %>)" src = <%= x.picture %> alt =  "<%= x.title %>" >
              </form>
        <% }) %>
          
        
        </div>
      </center>
      <!--
      <span class = "previousBtn">
        Previous
      </span>
      <span class = "nextBtn">
        Next
      </span>
-->
		</div>
	  <center>
		<footer class = "dashFooter">
			<div>
      </div>
		</footer>
	</center>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src = "/dashJS.js"></script>

	</body>