<!DOCTYPE html>

<head>
	<title> BookHouse </title>
  <link id="favicon" rel="icon" href="https://cdn.glitch.com/30fa63ee-79f7-42c9-992a-f7f5bdcabbf4%2Fthumbnails%2Ficon.png?1511284247590" type="image/x-icon">  
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
	<meta name="description" content="Rob's Portfolio Page">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  	<link  rel="stylesheet" href="/style.css" >
	</head>
	<nav>
		<a href = "/"><span class = "credButs2 menuButs">
			BookHouse
		</span></a>
		<a href = "/logout"><span onclick = 'register()' class = "credButs menuButs">
			Logout
      </span></a>
	</nav>
	<body>
		    
 
		<div id = "dashMain">
      <span class = "welcomeUser">
       <%= name %>
      </span><br/>
      <a href = "/dashboard"><h3 style= "margin-left: 5%">
      Back</h3></a>

        <center>
        <h4>
          Pending Outbound Request
          </h4>
          <ul>
            <% outbound.forEach((x)=>{ %>
            <form class = "submitIt" method = "POST" action = "/delete" >
            <input type ="hidden" name = "requestFrom" value = "<%= x.requestFrom %>">
            <input type ="hidden" name = "title" value = "<%= x.title %>">
            <input type ="hidden" name = "picture" value = "<%= x.picture %>">
              <img src = "<%= x.picture %>"><br>
              <strong>
                Owner: <%= x.requestFrom %>
              </strong>
              <button class = "loginButton" type = "submit">
                Delete
              </button>
                </form>
           <% }) %>
          </ul>
        
           <h4>
          Pending Inbound Request
          </h4>
          <ul>
            <% inbound.forEach((x)=>{ %>
            <div class = "submitIt">
             
              <form method = "POST" action = "/accept">
                    <input type ="hidden" name = "requestBy" value = "<%= x.requestBy %>">
            <input type ="hidden" name = "title" value = "<%= x.title %>">
            <input type ="hidden" name = "picture" value = "<%= x.picture %>">
                <img src = "<%= x.picture %>"><br>
              <strong>
                Requested By: <%= x.requestBy %>
              </strong>
                <button class = "loginButton" type = "submit">
                Accept
              </button>
            </form>
               
        <form method = "POST" action = "/deleteInbound" >
            <input type ="hidden" name = "requestBy" value = "<%= x.requestBy %>">
            <input type ="hidden" name = "title" value = "<%= x.title %>">
            <input type ="hidden" name = "picture" value = "<%= x.picture %>">
              
              <button class = "loginButton" type = "submit">
                Reject
              </button>
                </form>
            </div>
           <% }) %>
          </ul>
        
        </center>
  
		</div>
	  <center>
		<footer class = "dashFooter">
			<div>
      </div>
		</footer>
	</center>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src = "/dashJS.js"></script>

	</body>